.header {
  background-color: var(--primary-color);;
}

.hero-section {
  height: 850px;
  max-width: 1500px;
  display: flex;
  align-items: center;
  margin: auto;
}

.hero-container {
  max-width: 650px;
}

.hero-container .title {
  color: #fff;
  font-size: 3.5rem;
  margin-bottom: 0.5rem;
}

.hero-container .greetings {
  color: var(--secondary-color);
  margin-bottom: 0.5rem;
  font-size: 1.2rem;
}

.hero-container .description {
  color: #F2F5F6;
  margin-bottom: 1rem;
  font-size: 1.5rem;
}